@import 'normalize.css';

body {
  width: 100%;
}
header {
  display: block;
  width: 100%;
  text-align: center;
}
h1 {
  font-size: 3em;
  margin: 25px 25px 5px 25px;
}
img {
  width : 100%;
  margin: 25px 0 10px 0;
}
button {
  margin: 0 10px;
  width: 15%;
  padding: 10px;
}
div {
  text-align: center;
}
p {
  font-size: 14em;
  letter-spacing: 30px;
  display: inline;
  margin: 0 auto;
}
.container {
  text-align: center;
  display: block;
  height: 500px;
}
.button-list {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0 0 25px 0;
}
.top,
.bottom {
  width: 100%;
  display: inline-block;
  height: 49.5%;
}
.top { float: left; border-bottom: 2px solid; }
.bottom { float: right; }


